<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ site.title }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/scrolling-nav.css" rel="stylesheet">
    <link href="css/scrolling-nav-custom.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!-- Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/images/favicons/manifest.json">
    <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#67a2b3">
    <link rel="shortcut icon" href="/images/favicons/favicon.ico">
    <meta name="msapplication-config" content="/images/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><img src="images/cac-emblem-blue.png" alt="Conservative Americans Club Emblem"/> {{ site.title }}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#membership">Membership</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#events">Events</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Conservative Americans Club</h1>
                    <p>Next meeting is Thursday, February 22, 2018 at 6:30pm. We are 
                    located at Family Pharmacy Corporate Office, 4101 N. Highway NN - Ozark, MO 65721,
                    </p>
                    
                    <p>Featuring guest speaker Paul Curtman to discuss 
                    The Proper Role of Government - As articulated in the 
                    Declaration of Independence, Natural Rights, and State Sovereignty. </p>
                   
                    <p>Representative Curtman is Chairman of the House Conservative 
                    Caucus and Chair of the Committee on Ways and Means.  
                    We are delighted to have him come and address this important subject.  
                    Paul is also a candidate for Missouri State Auditor.  
                    Please mark your calendar and plan to come and meet Rep. 
                    Curtman and hear him speak.</p>
                     
                    <p>The Conservative Americans Club has plans to host 
                    The Making of America Seminar on Saturday, March 24, 2018.  
                    This is an excellent all-day seminar on the Constitution, 
                    put on by the National Center for Constitutional Studies.  
                    The cost is $25 per adult and $15 per student; and includes lunch.  
                    This Making of America Seminar is open to all.  
                    Invite your friends, children, and grandchildren to sign up and come.</p>
                     
                    <p>The CAC welcomes back Calvin Morrow as its guest speaker, Thursday, April 19, 2018.</p>
                     
                    <p>The Conservative Americans Club is planning to host a 
                    Constitution Summer Camp, July 9-13 for students in grades 5-10.  
                    Please see the attached document for more information.  
                    We need 10-12 adult volunteers to help with this exciting Summer Camp.  
                    Please let us know if you are interested and would be willing and available to help.   </p>
                     
                     
                    <p>CAC Annual Dues:  $25 per person; $45 per family; $15 per student
                    Hosea 4:6  "My People are destroyed for lack of knowledge."</p>
                    <a class="btn btn-primary page-scroll" href="#about">Explore!</a>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>About Us</h1>
                    <p>
                      The Conservative Americans Club meets on the fourth Thursday of every month with special guest speakers and hosted by Ginny Wade.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="membership" class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Become a member</h1>
                    <form action="https://formspree.io/wadeginny@aol.com" method="POST">

                          <fieldset class="form-group">
                            <input type="text" name="name" placeholder="Name" class="form-control">
                          </fieldset>

                          <fieldset class="form-group">
                            <input type="email" name="_replyto" placeholder="Email" class="form-control">
                          </fieldset>
                          <fieldset class="form-group">
                            <input type="text" name="phone" placeholder="Phone" class="form-control">
                          </fieldset>
                          <div class="radio">
                            <label>
                              <input type="radio" name="optionsRadios" id="optionsRadios1" value="Individual" checked>
                              $25 Individual
                            </label>
                          </div>
                          <div class="radio">
                            <label>
                              <input type="radio" name="optionsRadios" id="optionsRadios2" value="Family">
                              $45 Family
                            </label>
                          </div>
                          <div class="radio">
                            <label>
                              <input type="radio" name="optionsRadios" id="optionsRadios2" value="College">
                              $15 College
                            </label>
                          </div>


                      <input type="submit" value="Send" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="events" class="contact-section tinted-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Events</h1>
                    <!--<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=zachdyerdesign.com_jia6ld6t1pn9tv0o1qri0j831g%40group.calendar.google.com&amp;color=%230F4B38&amp;ctz=America%2FChicago" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>-->
                    <a href="https://drive.google.com/drive/folders/14M7Hl3tyvTqN4oBkeDX_tBVWwElBN45x?usp=sharing"
                    target="_blank" class="btn btn-primary">View our event documents</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 tinted-box">
                    <h1>Contact Us</h1>
                    <p>
                      <span class="glyphicon glyphicon-envelope" aria-hidden="true" alt="Email"></span> <a href="mailto:wadeginny@aol.com">wadeginny@aol.com</a>
                    </p>
                    <p>
                      <span class="glyphicon glyphicon-earphone" aria-hidden="true" alt="Email"></span> <a href="tel:+1 417 634 0165 ">+1 417 634 0165</a>
                    </p>
                    <p>
                      <span class="glyphicon glyphicon-map-marker" aria-hidden="true" alt="Address"></span> <a href="https://www.google.com/maps/place/404+Massey+Blvd,+Nixa,+MO+65714/@37.0380632,-93.3041917,17z/data=!3m1!4b1!4m5!3m4!1s0x87cf6f01bf52fd51:0xe259f60bd2e3562f!8m2!3d37.0380589!4d-93.302003" target="_blank">404 Massey Blvd, Nixa, MO</a>
                    </p>
                    <p>
                      <span class="glyphicon glyphicon-time" aria-hidden="true" alt="Hours"></span>
                      Hours Open:<br>
                      Tuesday, Wednesday, Thursday <br>
                      10:00 am - 6:00 pm <br>
                      Saturday 10:00 am - 1:00 pm <br>
                    </p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3184.8147478288106!2d-93.30419168448677!3d37.03806316197319!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87cf6f01bf52fd51%3A0xe259f60bd2e3562f!2s404+Massey+Blvd%2C+Nixa%2C+MO+65714!5e0!3m2!1sen!2sus!4v1468440270471" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/scrolling-nav.js"></script>

</body>

</html>
